av
chex
colored_traceback
einops
elements
google-resumable-media
granular
ipdb
# jax[cuda12]
jaxtyping
ninjax
numpy
# nvidia-cuda-nvcc-cu12>=12.8
portal
scope
tqdm
flax
imageio
setuptools<81
tensorboard
tensorboardX
opencv-python
gymnasium[atari,accept-rom-license]
hydra-core
pandas
swanlab
mujoco
mujoco-mjx
playground